:root {
	--bg-color-1: hsl(200, 41%, 83%);
	--bg-color-1-5: hsl(200, 30%, 79%);
	--bg-color-2: hsl(200, 100%, 93%);
	--bg-color-2-5: hsl(200, 58%, 88%);
	--bg-color-3: hsl(200, 41%, 83%);
	--bg-color-3-5: hsl(200, 30%, 79%);
	--sub-color: hsl(200, 11%, 36%);
	--font-color: hsl(200, 10%, 14%);
}

body {
	animation: flicker 2s infinite;
}

@keyframes flicker {
	0% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.logo img {
	filter: saturate(0) brightness(0.6) contrast(2) sepia(38%) saturate(246%) hue-rotate(156deg)
		brightness(120%) contrast(70%);
}
