:root {
	font-family: 'Outfit';
	font-weight: 300;
	font-size: 112.5%;
	--bg-color-1: hsl(200, 17%, 9%);
	--bg-color-1-5: hsl(200, 19%, 10.5%);
	--bg-color-2: hsl(200, 18%, 12%);
	--bg-color-2-5: hsl(200, 17%, 14.5%);
	--bg-color-3: hsl(200, 17%, 17%);
	--bg-color-3-5: hsl(200, 17%, 21.5%);
	--sub-color: hsl(200, 18%, 26%);
	--font-color: hsl(200, 37%, 68%);
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--bg-color-2);
	color: var(--font-color);
	overflow: hidden;
}

#svelte {
	min-height: 100vh;
	display: flex;
}

::-webkit-scrollbar {
	width: 7.5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--bg-color-1-5);
}

::placeholder,
::-webkit-input-placeholder {
	color: var(--sub-color);
}

:focus {
	outline: none;
}

input,
button {
	color: inherit;
	font: inherit;
	border: none;
	background: transparent;
}

button {
	flex-shrink: 0;
}
button:hover {
	cursor: pointer;
}

hr {
	height: 2px;
	background: var(--bg-color-2-5);
	border: none;
	flex-shrink: 0;
	border-radius: 2px;
}

.heading-container {
	background: var(--bg-color-1);
	position: sticky;
	top: 0;
	width: 100%;
	padding: 20px 40px 10px 40px;
	border-radius: 18px;
	display: flex;
	align-items: center;
}
.heading-container h1 {
	margin: 0;
	margin-right: auto;
}

.scroll-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	scrollbar-color: var(--bg-color-1-5) transparent;
	height: 100%;
}

.item-container {
	padding: 10px 40px 86px 40px;
}

.text-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.name {
	width: 100%;
	background: transparent;
	padding: 0;
	line-height: 24px;
}
.name:focus {
	outline: none;
}

.icon-button {
	display: flex;
	width: 20px;
	height: 20px;
	padding: 0;
	color: var(--sub-color);
}
.icon-button:hover {
	color: var(--font-color);
}
.icon-button i {
	line-height: 20px;
	vertical-align: top;
	text-align: center;
	margin: auto;
}

.icon-button-lg {
	width: 36px;
	height: 36px;
	background: var(--bg-color-2);
	border-radius: 10px;
	margin-left: 12px;
}
.icon-button-lg:hover {
	background-color: var(--bg-color-2-5);
}
.icon-button-lg i {
	font-size: 20px;
}

.todo {
	display: flex;
	background: var(--bg-color-2);
	align-items: center;
	border-radius: 12px;
	padding: 10px 12px;
	margin-bottom: 8px;
}
.todo.completed .name {
	text-decoration: line-through;
	color: var(--sub-color);
}
.todo.completed .checkbox i {
	display: inline-block;
}

.checkbox {
	border-radius: 6px;
	margin-right: 12px;
	background: var(--bg-color-3);
}
.checkbox:hover {
	background: var(--bg-color-3-5);
}
.checkbox:active {
	background: var(--font-color);
}
.checkbox i {
	display: none;
	color: var(--font-color);
	margin-right: 2px !important;
}

.delete {
	margin-left: 10px;
}

.new-container {
	margin-top: auto;
	background: var(--bg-color-1);
	padding: 10px 40px 20px 40px;
	position: sticky;
	bottom: 0;
	width: 100%;
	border-radius: 18px;
}

.new {
	display: flex;
	background: var(--bg-color-2);
	align-items: center;
	border-radius: 12px;
	padding: 10px 12px;
}
.new .name {
	width: 100%;
}

.add {
	margin-right: 12px;
	font-size: 20px;
}
.add.active {
	color: var(--font-color);
}
.add.active:hover {
	color: var(--font-color);
}
.add:hover {
	color: var(--sub-color);
}
